{%extends 'main.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Farm</title>
</head>
<body>
    {%block content%}
    <h2 class="row justify-content-center">Farm Details</h2>
   
        <div class="row justify-content-center">
          <div class="col-md-6">
    <form  method = "POST" action = "">
    
        {% csrf_token %}
        {%include 'errors.html'%}
      

        <div class="form-group">
          <label for="farm_name" class="col-sm-2 control-label">Farm Name</label>
          <div class="col-sm-10">
            {{ form.farm_name }}
          </div>
        </div>
      
        <div class="form-group">
          <label for="plot_number" class="col-sm-2 control-label">Plot Number</label>
          <div class="col-sm-10">
            {{ form.plot_number }}
          </div>
        </div>
      
        <div class="form-group">
          <label for="extend" class="col-sm-2 control-label">Extend</label>
          <div class="col-sm-10">
            {{ form.extend }}
          </div>
        </div>
      
        <div class="form-group">
          <label for="district" class="col-sm-2 control-label">District</label>
          <div class="col-sm-10">
            {{ form.district }}
          </div>
        </div>
      
        <div class="form-group">
          <label for="province" class="col-sm-2 control-label">Province</label>
          <div class="col-sm-10">
            {{ form.province }}
          </div>
        </div>
      
        <div class="form-group">
          <label for="ward" class="col-sm-2 control-label">Ward</label>
          <div class="col-sm-10">
            {{ form.ward }}
          </div>
        </div>
      
        <div class="form-group">
          <label for="tenure_type" class="col-sm-2 control-label">Tenure Type</label>
          <div class="col-sm-10">
            {{ form.tenure_type }}
          </div>
        </div>
      
        <div class="form-group">
          <label for="irrigation" class="col-sm-2 control-label">Irrigation</label>
          <div class="col-sm-10">
            {{ form.irrigation }}
          </div>
        </div>
      
        <div class="form-group">
          <label for="water_availability" class="col-sm-2 control-label">Water Availability</label>
          <div class="col-sm-10">
            {{ form.water_availability }}
          </div>
        </div>

        <div class="form-group">
          <label for="water_availability" class="col-sm-2 control-label">Description</label>
          <div class="col-sm-10">
            {{ form.description }}
          </div>
        </div>
        <p></p>
      
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Next</button>
          </div>
        </div>
      </div>
  

      </form>
    </div>
  </div>

    {%endblock%}
</body>
</html>