{%extends 'main.html'%}
<!DOCTYPE html>
<html>
<head>
  <title>farms</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
{%block content%}
<h1>The Farms are here</h1>


<table class="table table-striped-columns">
  {%for farm in mfarms%}
  <th></th>
  <tr>
  <td>{{farm.farm_name}}</td>
  <td>{{farm.extend}}</td>
  <td><a href="{%url 'createfarm'%}">Edit</a></td>
  <td><a>Delete</a></td>
</tr>
  {%endfor%}
</table>
<a href = "{% url 'createfarm'%}">Add farm</a>
{%endblock%}
</html>