{%extends 'main.html'%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ventures</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} 
    {%load static%}
  </head>
  <body>
    {%block content%}

    <div class="row">
      {%for venture in mventures%}
      <div class="col-md-3">
      
        <div class="card p-2" data-aos="fade-up" style="width: 18rem">
          <a href="{%url 'details' venture.id%}">
          <img class="card-img-top" src="{% static 'images/pexels-jannis-knorr-2933243.jpg'%}"/>
          </a>
          <div class="card-body">
            <h5 class="card-title">{{venture.farm.farmer}}</h5>
            <p>Amount required USD{{venture.amount}}</p>
            <p class="card-text">{{venture.farm.farm_name}}</p>
            <p class="card-text">{{venture.descripiton|truncatewords:20}}</p>
            <p class="card-text">{{venture.farm.get_tenure_type_display}}</p>
            <a href="{%url 'details' venture.id%}" class="btn btn-primary"
              >Details</a>
          </div>
        </div>
    
      </div>
      {%endfor%}
    </div>
  </br>
    <a class="btn btn-success" href="{%url 'createfarmer'%}">Post Venture</a>
  </body>
  {%endblock%}
</html>
