{%extends 'main.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ventures</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    {%block content%}
    <table class="table table-striped-columns">
        {%for venture in mventures%}
        <tr>
        <td>{{venture.farm.farmer.name}}</td>
        </tr>
        <td>{{venture.farm.farm_name}}</td>
        <tr>
        <td>{{venture.descripiton}}</td>
        </tr>
        <tr>
        <td>{{venture.amount}}</td>
        </tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        {%endfor%}
    </table>
    <a href="{%url 'createventure'%}">Add Venture</a>
    {%endblock%}
    </body>
</html>